# Neon PostgreSQL Connection URL
DATABASE_URL="postgresql://username:password@ep-xyz-123456.eu-central-1.aws.neon.tech/neondb?sslmode=require"
VITE_DATABASE_URL="postgresql://username:password@ep-xyz-123456.eu-central-1.aws.neon.tech/neondb?sslmode=require"
